<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Listado de subcategorias </h4>
                        <p class="card-category"> Aqui veras la lista de las subcategorias en el sistema</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nombre de la subcategoria
                                    </th>
                                    <th>
                                        Cantidad de productos
                                    </th>
                                    <th>
                                        Estado de la subcategoria
                                    </th>
                                    <th>
                                        Categoria a la que pertenece
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let subcategorie of subcategories">

                                        <td>
                                            {{subcategorie.subcategoria_nombre}}
                                        </td>
                                        <td>
                                            {{subcategorie.subcategoria_cantidad_productos}}
                                        </td>
                                        <td>
                                            {{subcategorie.subcategoria_estado}}
                                        </td>
                                        <td>
                                            {{subcategorie.subcategoria_categoria}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>